<div class="container mt-5 border p-5" style="width:70%">
    <h2> Update the forest Complaint </h2>
    <br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Contact</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {{#each assignedComplaints}}
                <tr>
                    <td>{{complaintID._id}}</td>
                    <td>{{complaintID.name}}</td>
                    <td>{{complaintID.email}}</td>
                    <td>{{complaintID.contact}}</td>
                    <td>{{complaintID.desc}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
    <br>
    <form action="/update-complaintforest" method="post">
        <div class="form-group">
            <label>Complaint ID:</label>
            <input class="form-control" type="text" id="complaintID" name="complaintID" placeholder="Complaint ID">
        </div>
        <div class="form-group">
            <label>Update:</label>
            <input class="form-control" type="text" id="update" name="update" placeholder="Update">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success btn-block">Submit</button>
        </div>
    </form>
</div>
